.home {
    width: 1280px;
    height: 3599px;
    background: #FFF;
    
}

.nav {
    width: 1280px;
    height: 124px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    background: #F9E0AE;
}

.nav .logo img {
    width: 38px;
    height: 38px;
    flex-shrink: 0;
    fill: #000;
    margin-top: 44px;
    margin-left: 119px;
    display: inline-block;
}

.nav .logo text {
    color: #000;
    font-family: Jim Nightshade;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
}

.nav .menu {
    width: 479px;
    height: 30px;
    list-style-type: none;
    display: inline-flex;
    align-items: flex-start;
    gap: 56px;
    padding-top: 44px;
    margin-left: 450px;
    justify-content: center;
}


.nav .menu .courses .img1 {
    width: 14.978px;
    height: 8.628px;
    fill: #000;
    margin-left: 837px;
    padding-top: 65px;
    margin-right: 28px;
}

.nav .menu .courses .img2 {
    width: 14.978px;
    height: 8.628px;
    fill: #000;
    margin-left: 837px;
    padding-top: 65px;
    margin-right: 28px;
}

.nav .menu .contact {
    width: 150px;
    height: 39px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #C24914;
    margin-right: 100px;
    text-align: center;
    justify-content: center;
}

.nav .menu .contact text {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
    text-align: center;
}

