/* Style the home box */
.home {
    width: 1280px;
    height: 3599px;
    background: #FFF;
}

/* Style for the nav box */
.nav {
    width: 1280px;
    height: 124px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    background: #F9E0AE;
}

/* Style for the nav logo */
.nav .logo img {
    width: 38px;
    height: 38px;
    flex-shrink: 0;
    fill: #000;
    margin-top: 44px;
    display: inline-flex;
}

.nav .logo .text1 {
    color: #000;
    font-family: Jim Nightshade;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Style for the nav complete ul, li and contact us div(4) */
.nav .menu {
    width: 479px;
    height: 30px;
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    gap: 56px;
    padding-top: 44px;
    margin-left: 450px;
    justify-content: center;
}

.nav .menu .text, .nav .menu .courses .text {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.nav .menu .courses {
    display: flex;
    gap: 10px;
    width: 113px;
    height: 28px;
    align-items: center;
    justify-content: space-between;
}

.nav .menu .courses .img {
    width: 14.978px;
    height: 8.628px;
    fill: #000;
    margin-left: 837px;
    padding-top: 45px;
    margin-right: 28px;
    padding-left: 20px;
}

.nav .menu .blog {
    display: flex;
    gap: 10px;
    width: 113px;
    height: 28px;
    align-items: center;
}

.nav .menu .blog .img {
    width: 14.978px;
    height: 8.628px;
    fill: #000;
    margin-left: 967.98px;
    padding-top: 65px;
    margin-right: 297.04px;
}


.nav .menu .contact {
    display: flex;
    width: 150px;
    height: 39px;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: #C24914;
    margin-right: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.nav .menu .contact text {
    display: flex;
    align-items: center;
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: space-around;
    
}

/* Style for the main box */
.main {
    width: 1080px;
    height: 487px;
    flex-shrink: 0;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 72px;
}

/* Style for the inner main box all */
.main .image {
    width: 487px;
    height: 487px;
    flex-shrink: 0;
    float: right;

}

.main .detail {
    width: 426px;
    height: 144px;
    padding-top: 20px;
}

.main .detail h1 {
    width: 428px;
    color: #000;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 40px;
}

.main .detail p {
    width: 550px;
    color: rgba(0, 0, 0, 0.46);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 34px;
    margin-bottom: 60px;
    
}

.main .detail .rect1 {
    display: flex;
    align-items: center;
    width: 200px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #682C0E;
    margin-top: 34px;
    color: #FFF;
    justify-content: center;
}

/* Style for the course box */
.course {
    width: 1040px;
    height: 379px;
    flex-shrink: 0;
    margin-left: 100px;
    margin-right: 140px;
    margin-top: 235px;
}

/* Style for the course detail and image box */
.course .image {
    width: 480px;
    height: 379px;
    flex-shrink: 0;
    float: left;
}

.course .detail h1 {
    width: 407px;
    color: #000;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 587px;
    padding-top: 44px;
}

.course .detail ul {
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 580px;
}

.course .detail ul li {
    margin-bottom: 20px;
}

/* Style for the register box */
.register {
    display: flex;
    width: 1060.314px;
    height: 292.6424px;
    gap: 91px;
    margin-top: 234px;
    margin-left: 100px;
}

/* Style for the register h1 */
.register .detail h1 {
    width: 530px;
    height: 216px;
    flex-shrink: 0;
    color: #000;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 40px;
    
}

/* Style for the register image */
.register .image {
    width: 439.314px;
    height: 292.642px;
    flex-shrink: 0;
    float: left;
    justify-content: space-between;
}

/* Style for the rectangle box */
.rectangle {
    width: 1080px;
    height: 140px;
    flex-shrink: 0;
    background: #F9E0AE;
    margin-top: 109.36px;
    margin-left: 100px;
    
}

/* Style for the rectangle ul, li*/
.rectangle ul li {
    width: 300px;
    height: 63px;
    flex-shrink: 0;
    background: #FFF;
    list-style-type: none;
    display: inline-flex;
    margin-right: 40px;
    margin-top: 38px;
    justify-content: space-between;
}

.rectangle ul .rect1 {
    margin-left: 10px;
    width: 300px;
    height: 63px;
    color: rgba(0, 0, 0, 0.50);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.rectangle ul .rect1 text {
    margin: 17px 94px 16px 94px;
}

.rectangle ul .rect2 {
    color: rgba(0, 0, 0, 0.50);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.rectangle ul .rect2 text {
    margin: 17px 51px 16px 51px;
}

.rectangle ul .rect3 {
    background: #C24914;
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.rectangle ul .rect3 text {
    margin: 17px 98px 16px 99px;
}

/* Style for the community box */
.community {
    position: relative;
    display: inline-block;
    width: 1117px;
    height: 780px;
    flex-shrink: 0;
    margin-top: 206px;
    margin-left: 145px;
}

/* Style for the community detail*/
.community .detail {
    position: absolute;
    width: 531px;
    height: 144px;
    display: flex;
    margin-top: 63px;
    margin-left: 9px;
    margin-right: 577px;
    margin-bottom: 22px;
    text-align: center;
    align-items: center;
    font-family: Poppins;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


/* Style for the community detail 
.community .deatil h1 {
    position: absolute;
    width: 501px;
    height: 144px;
    display: flex;
    background-color: #682C0E;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}*/

.community .paragraph {
    position: absolute;
    width: 549px;
    height: 30px;
    color: rgba(0, 0, 0, 0.46);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 209px;
}

.community .rect1 {
    display: flex;
    position: absolute;
    width: 273px;
    height: 54px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FC8621;
    margin-top: 322px;
    margin-left: 138px;
    align-items: center;
    justify-content: center;
}

.community .rect1 span {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
 
.community .elipse1 {
    display: flex;
    position: absolute;
    width: 94px;
    height: 94px;
    flex-shrink: 0;
    margin-top: 535px;
    margin-left: 317px;
    border-radius: 94px;
    background: lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.community .elipse2 {
    width: 94px;
    height: 94px;
    flex-shrink: 0;
    margin-left: 597px;
    border-radius: 94px;
    background: lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.community .elipse3 {
    display: flex;
    position: absolute;
    margin-top: 325px;
    margin-left: 40px;
    width: 94px;
    height: 94px;
    flex-shrink: 0;
    border-radius: 94px;
    background: lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.community .elipse4 {
    display: flex;
    position: absolute;
    margin-top: 49px;
    margin-left: 910px;
    width: 94px;
    height: 94px;
    flex-shrink: 0;
    border-radius: 94px;
    background: lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.community .image {
    position: relative;
    margin-top: 116px;
    margin-left: 121px;
    position: absolute;
    bottom: 540;
    right: 18;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    float: right;
}

/* Style for the footer box */
.footer {
    position: relative;
    width: 1280px;
    height: 442px;
    flex-shrink: 0;
    background: #F9E0AE;
    margin-top: 98px;
    display: flex;
}

.footer .logo {
    width: 135px;
    height: 59px;
    flex-shrink: 0;
    margin-left: 161px;
}
.footer .logo img {
    width: 38px;
    height: 38px;
    flex-shrink: 0;
    fill: #000;
    margin-top: 143px;
    display: inline-flex;
}

.footer .logo text {
    color: #000;
    font-family: Jim Nightshade;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   
}

.footer .follow h2 {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 107px;
    margin-left: 80px;
    width: 94px;
    height: 30px;
}

.footer .follow .link {
    list-style-type: none;
    display: flex;
    gap: 23px;
    margin-left: 30px;
    margin-top: 16px;
}

.footer .follow .link li {
    display: inline;
}

.footer .useful-link h2 {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 166px;
    margin-top: 107px;
    width: 119px;
    height: 30px;
}

.footer .useful-link ul {
    color: #6C6C6C;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 164px;
    height: 89px;
    margin-left: 138px;
    line-height: 30px;
    margin-top: 13px;
}

.footer .contacts h2{
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 94px;
    height: 30px;
    margin-top: 107px;
    margin-left: 80px;
    margin-right: 100px;
}

.footer .contacts .details {
    color: rgba(0, 0, 0, 0.50);
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 243px;
    height: 89px;
    margin-left: 40px;
    list-style-type: none;
}

.footer .footer-add img {
    position: absolute;
    display: flex;
    width: 20px;
    height: 19.212px;
    flex-shrink: 0;
    fill: #7D7A74;
    margin-top: 365px;
    
}

.footer .footer-add .text {
    width: 174px;
    height: 23px;
    margin-top: 363px;
    margin-left: 25px;
    position: absolute;
    color: #7D7A74;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 768px) {
    .container {
        max-width: 90%;
    }
}